/* Global */

body {
    background: yellow;
}
header, article, footer {
    text-align: center;
}

/* Header */
.author-name {
    font-weight: 400;
    font-style: italic;
}
/* poem */
.poem {
    text-align: center;
   
}
/* footer */
footer span {
    font-style: italic;
    word-spacing: 7px;
}
